<div>
    <table class="table">
    <tbody>
        <tr>
            <th>Checklists</th>
            <th>Finished/Unfinished</th>
            <th>Open Checklist</th>
        </tr>
        <% @checklists.each do |checklist| %>
        <tr>
            <td><%= checklist.item %></td>
            <% if checklist.checklist_finished? %>
                <td class="text-success">Finished</td>
            <% else %>
                <td class="text-danger">Unfinished</td>
            <% end %>
            <td><%= link_to "Open", checklist_path(checklist) %></td>
        <% end %>
        </tr>
        </tbody>
    </table>

    <p><%= link_to "New Checklist", new_user_checklist_path(current_user) %></p>

</div>
